<p-accordion [activeIndex]="0">
    <p-accordionTab header="Header I">
        <div class="grid p-fluid">
            <div class="col-12 md:col-6 lg:col-6">
                <p-chart type="line" [data]="userUsageHoursData" [options]="options"></p-chart>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <p-chart type="bar" [data]="userUsageHoursData" [options]="options"></p-chart>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Header II">
        <div class="grid p-fluid">
            <div class="col-12 md:col-6 lg:col-6">
                <p-chart type="radar" [data]="userUsageHoursData" [options]="options"></p-chart>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <p-chart type="polarArea" [data]="userAppData" [options]="options"></p-chart>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>