::ng-deep .p-card .p-component {
    box-shadow: none !important;
}

.card-d-1 {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    border-radius: 7px;
    background-color: #3f3787;
    background-image: linear-gradient(45deg, #6658e6 0%, var(--cui-primary-stop, #1f1498 100%));
}

.card-d-2 {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--cui-info, #2982cc);
    background-image: linear-gradient(45deg, var(--cui-info-start, #39f) 0%, var(--cui-info-stop, #2982cc 100%));
}

.card-d-3 {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--cui-warning, #f6960b);
    background-image: linear-gradient(45deg, var(--cui-warning-start, #f9b115) 0%, var(--cui-warning-stop, #f6960b 100%));
}

.card-d-4 {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--cui-danger, #d93737);
    background-image: linear-gradient(45deg, var(--cui-danger-start, #e55353) 0%, var(--cui-danger-stop, #d93737 100%));
}

.titel-c {
    font-size: 18px;
}

.value-c {
    font-size: 35px
}