::ng-deep .p-card .p-component {
    box-shadow: none !important;
}

.card-d-4 {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    border-radius: 7px;
    background-color: #ede858;
    background-image: linear-gradient(45deg, #d63636 0%, var(--cui-primary-stop, #d63636 100%));
}

.card-d-2 {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--cui-info, #2982cc);
    background-image: linear-gradient(45deg, var(--cui-info-start, #2982cc) 0%, var(--cui-info-stop, #2982cc 100%));
}

.card-d-3 {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--cui-warning, #f9b115);
    background-image: linear-gradient(45deg, var(--cui-warning-start, #f9b115) 0%, var(--cui-warning-stop, #f9b115 100%));
}

.card-d-1 {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    border-radius: 7px;
    background-color: var(--cui-success, #4caf50);
    background-image: linear-gradient(45deg, var(--cui-success-start, #4caf50) 0%, var(--cui-success-stop, #4caf50 100%));
}



.titel-c {
    font-size: 18px;
}

.value-c {
    font-size: 35px
}